html, body {
    background-color: #f6dcac;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
}

a{
    color: #700202;
}
a:hover{
    color:#FF4500;

}

body{
    margin: 0;
}

main{
    margin-left: 13px;
}

/* Estilos para o cabeçalho */
/* Deslogado */

header {
    background-color: #faa968;
    padding: 13px;
    color: #700202;
    text-transform: uppercase;
    font-size: 12px;
}

nav {
    text-align: center;
    background-color:  #faa968;
}

nav li {
    display: inline-block;
}


nav li  {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    font-weight: bold;
    font-size: 14px;
    color: #700202;
    /* font-family: 'Roboto', sans-serif;
    font-weight: 600; */
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #FF4500;
}

/* login */
.login {
    text-align: center;
    padding-top: 20px;
}

.dropdown-lista {
    position: absolute;
    box-shadow: 0px 0px 15px rgba(255, 167, 108, 0.4); 
    display: none;
    background-color: #f6dcac;
    border-radius: 8px;
    text-transform: none;
    z-index: 999; /* Ajuste o valor conforme necessário */
}


.dropdown:hover .dropdown-lista {
    display: block;
}

.dropdown-lista a {
    font-size: 12px;
    text-transform: none;
    display: block;
    width: 130px;
    height: auto;
    border-radius: 2px;
}

nav ul li div a{
    padding: 8px;
    width: 180px;
}

nav ul li div a:hover {
    background-color: #ff6d38;
    color: #FFF2C4;
    transition: background-color 0.3s;
}

/* .dropdown-lista a:hover {
    background-color: #ff5c21;
} */

/* Dropdown Menu */
.dropdown-menu {
    position: absolute;
    background-color: #f6dcac; /* Cor de fundo */
    box-shadow: 0px 0px 15px rgba(255, 167, 108, 0.4); /* Sombra */
    border-radius: 5px; /* Borda arredondada */
    width: 180px;
    height: auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    /* font-family: Arial, sans-serif; */
    font-size: 14px;
    text-transform: none;
}

/* Ajuste para manter o dropdown-menu visível ao passar sobre sugestões de e-mail */
.dropdown-menu input:focus {
    display: block !important;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

form input {
    border-radius: 5px;
    border: none;
    margin: 3px 3px;
    padding: 4px;
}

.entrar {
    background-color: #ff5c21;
    color: #f7f7f5;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: block;
    margin: 0 auto;
}

.entrar:hover{
    transition: background-color 0.3s;
    background-color: #faa35d;
}

/* Footer */
footer {
    text-align: center;
    color:#700202;  
}

footer a {
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Noticias */
.noticia {
    background-color: #FFF2C4;
    margin-left: 1em;
    margin-right: 2em;
    margin-top: 2em;
    padding: 0.5px 18px;
    border-radius: 6px;
}

/* Tabelas */
/* Estilos para a tabela */
table {
    border-collapse: separate;
    width: 100%;
    margin-top: 20px;
}

thead {
    background-color: #faa968;
    color: #700202;
}

thead th {
   padding: 10px;
    text-align: left;
}


tbody tr:hover {
    background-color: #ffebcd;
}

tbody td {
    padding: 8px;
}

/* Estilos específicos para a primeira coluna (ID) */
tbody td:first-child {
    font-weight: bold;
}

/* Estilizando os links dentro da tabela, se houver */
tbody a {
    color: #700202;
    text-decoration: none;
}

tbody a:hover {
    color: #FF4500;
}


