html, body {
    background-color: #f6dcac;
}

a{
    color: #700202;
}

/* Reset de estilos para remover margens e paddings padrão */
body,
ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilos para o cabeçalho */
/* Deslogado */
#login {
    text-align: right;
}

#linksheader {
    color: black;
}

#usuariologado {
    text-align: right;
}

header {
    background-color: #faa968;
    padding: 20px;
    color: #700202;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
    color: #700202;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #FF4500;
}

/* .dropdown-menu{
    position:absolute;
} */

/* Footer */
footer {
    text-align: center;
}

footer a {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}